/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
.idea/
/build
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
